version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@0.0.10
  aws-ecs: circleci/aws-ecs@0.0.8
workflows:
  build-and-deploy:
    jobs:
      - aws-ecr/build_and_push_image:
          context: ecr-circleci-context
          account-url: AWS_ECR_ACCOUNT_URL
          repo: "${AWS_RESOURCE_NAME_PREFIX}"
          region: AWS_REGION
          tag: "${CIRCLE_SHA1}"
          # dockerfile: .circleci/Dockerfile
      - aws-ecs/deploy-service-update:
          context: ecr-circleci-context
          requires:
            - aws-ecr/build_and_push_image
          family: '${AWS_RESOURCE_NAME_PREFIX}-task'
          cluster-name: '${AWS_RESOURCE_NAME_PREFIX}-cluster'
          service-name: '${AWS_RESOURCE_NAME_PREFIX}-survice'
          container-image-name-updates: 'container=${AWS_RESOURCE_NAME_PREFIX}-container, tag=${CIRCLE_SHA1}'

