version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@0.0.10
  aws-ecs: circleci/aws-ecs@0.0.8
workflows:
  build-and-deploy:
    jobs:
      - aws-ecr/build_and_push_image:
          context: ecr-circleci-context
          account-url: AWS_ECR_ACCOUNT_URL
          repo: circleci
          region: AWS_REGION
          tag: latest
          # dockerfile: .circleci/Dockerfile
      - aws-ecs/deploy-service-update:
          context: ecr-circleci-context
          requires:
            - aws-ecr/build_and_push_image
          aws-region: AWS_REGION
          family: "circleci-task"
          cluster-name: "circleci-cluster"
          container-image-name-updates: "container=circleci-conainer,tag=latest"

